**tuple**

- tuple is one of the pre-defined class and treated as list data type

- The purpose of tuple data type is that **to store multiple values either of the same type or different type or both the type in single object with unqiue and duplicates**

- In otherwords tuple always used for maintaining constant values (Fixed).

- To store the data in tuple object , the data must be enclosed within braces().

- SYNTAX : varname = (val1,val2,.......,valn)

- An object of tuple maintains insertion order ( In whichever order, we insert the data, in the same order elements will displayed).

- On the object of tuple , we can perform both **Indexing & Slicing operation**.

- An object of tuple belongs to **IMMUTABLE** because tuple object does not supports item assignment .

- In Python Programming , we can create two types of tuple . They are :

            - Empty tuple

            - Non-Empty tuple

**Empty tuple**

- An empty tuple is one, which does not contain any elements and whose length is 0. 

- SYNTAX :  varname=()

            (OR)

            varname=tuple()

**Non-Empty tuple**

- A non-empty tuple is one, which contains elements and whose length is graeter than 0.

- SYNTAX : varname = (val1,val2,....,valn)

                (OR)

            varname = tuple(object)

                (OR)

            varname = val1,val2,......,valn

**Example**

In [3]:
t1=(10,20,10,40,10,50)
print(t1)

(10, 20, 10, 40, 10, 50)

In [4]:
type(t1)

tuple

In [5]:
t2=(10,'RS',True,2+3j)
print(t2)

(10, 'RS', True, (2+3j))

In [6]:
t3 = 10,'ROSSUM',44.44,'NL'
print(t3)

(10, 'ROSSUM', 44.44, 'NL')

In [7]:
type(t3)

tuple

**NOTE**

- The functionality is exactly similar to list but an object of list belongs to **MUTABLE** where an object tuple belongs to **IMMUTABLE**

**len**

In [8]:
t4=(10,20,10,40,10,50)
len(t4)

6

In [9]:
t5=(10,'RS',True,2+3j)
len(t5)

4

**max**

In [10]:
max(t4)

50

In [11]:
t5=(10,'RS',True,2+3j)
max(t5)    # max() is '>' not supported between instances of 'str' and 'int'

TypeError: '>' not supported between instances of 'str' and 'int'

**min**

In [12]:
t4=(10,20,10,40,10,50)
min(t4)

10

In [14]:
t5=(10,'RS',True,2+3j)
min(t5)    # min() is '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

**reversed**

In [18]:
t4=(10,20,10,40,10,50)
ans=reversed(t4)

In [17]:
ans=reversed(t4)
list(ans)

[50, 10, 40, 10, 20, 10]

In [20]:
t5=(10,'RS',True,2+3j)
ans1=reversed(t5)
list(ans1)

[(2+3j), True, 'RS', 10]

**sorted**

- this function is used for sorting the data of immutable object tuple and gives the sorted data in the form of list

In [21]:
t4=(10,20,10,40,10,50)
sorted(t4)

[10, 10, 10, 20, 40, 50]

**Index operation**

In [ ]:
t4=(10,20,10,40,10,50)

In [22]:
t4[0]

10

In [23]:
t4[2]

10

**concatenation**

In [25]:
t6=(10,20,45,78,95,52)
t7=(45,55,68,35)

In [26]:
t6+t7

(10, 20, 45, 78, 95, 52, 45, 55, 68, 35)

In [27]:
t6-t7   #unsupported operand type(s) for -: 'tuple' and 'tuple'

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [28]:
t6/t7    #unsupported operand type(s) for /: 'tuple' and 'tuple'

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [32]:
t6*t7     
# can't multiply sequence by non-int of type 'tuple' but it can possible when you can multiply sequence by non-int of type 'tuple'

TypeError: can't multiply sequence by non-int of type 'tuple'

In [30]:
t6*2

(10, 20, 45, 78, 95, 52, 10, 20, 45, 78, 95, 52)

**Slicing**

In [33]:
t6=(10,20,45,78,95,52)

In [34]:
t6[:]

(10, 20, 45, 78, 95, 52)

In [36]:
t6[0:]

(10, 20, 45, 78, 95, 52)

In [37]:
t6[1:4]

(20, 45, 78)

In [38]:
t6[2:5:2]

(45, 95)

In [39]:
t6[0:-4:-2]

()

In [35]:
t6[::-1]

(52, 95, 78, 45, 20, 10)

**tuple method**

In [46]:
tup=(10,25,45,85,75,95,82,74,45,65,78)

**count**

In [43]:
tup.count(75)

1

In [48]:
tup.count(45)

2

**index**

In [49]:
tup=(10,25,45,85,25,75,95,82,74,25,45,65,78)
i1=tup.index(45)

2

In [53]:
i1=tup.index(45)
i2=tup.index(45,i1+1)
i1,i2

(2, 8)

In [62]:
tup=(10,25,45,85,25,75,95,82,74,25,45,65,78)
i3=tup.index(25)
i4=tup.index(25,i3+1)
i5=tup.index(25,i4+1)
i3,i4,i5

(1, 4, 9)