In [7]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

$zip$

- combine two list

In [10]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l3=['Hyd','Mimbai','Chennai']
for i,j,k in zip(l1,l2,l3):
    print(f"{i} has age is {j} and he is from {k}")

Ramesh has age is 20 and he is from Hyd
Suresh has age is 30 and he is from Mimbai
Sathish has age is 40 and he is from Chennai

**Dictionary**

- string represnent in quotes

- list represent in square bracket 

- tuple represent in parnthases

- set represent in curly braces with only one value

- dict also represent in curly braces with two values

- dict has key:value pair

- dict elements are in pair 

    - one elements is called as **key**

    - another elements is called as **value**

In [ ]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]

{key:value}
{key1:value1,key2:value2,key3:value3}

In [11]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [12]:
type(dict1)

dict

**intialization**

In [ ]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}

#key int value string
# key string value list vice versa
# key list value

In [13]:
dict2={20:'Ramesh',30:'Suresh',40:'Sathish'}
dict2

{20: 'Ramesh', 30: 'Suresh', 40: 'Sathish'}

In [15]:
dict3={'Kal':[10,10],'Sahu':[[20],[30]],'Sourabh':[30]}
dict3

{'Kal': [10, 10], 'Sahu': [[20], [30]], 'Sourabh': [30]}

In [16]:
dict4={[10,20,30]:'Sahu',[20,45]:'Kal',[25]:'Sourabh'}
dict4

TypeError: unhashable type: 'list'

In [17]:
dict5={(20,10):'Ksl',(45,85):'Sahu',(25.5,85.64):'Sourabh'}
dict5

{(20, 10): 'Ksl', (45, 85): 'Sahu', (25.5, 85.64): 'Sourabh'}

- list is mutable

- tuple is immutable 

- list can not be key

- **keys** are very important

In [18]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
len(dict1)

3

In [19]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
max(dict1)

'Suresh'

In [20]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
min(dict1)

'Ramesh'

In [21]:
sorted(dict1)

['Ramesh', 'Sathish', 'Suresh']

In [25]:
list(reversed(dict1))

['Sathish', 'Suresh', 'Ramesh']

In [26]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
print(len(d2))
print(max(d2))
print(min(d2))
print(sorted(d2))
print(list(reversed(d2)))
print(sum(d2))

3
Suresh
Ramesh
['Ramesh', 'Sathish', 'Suresh']
['Sathish', 'Suresh', 'Ramesh']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
print(len(d2))
print(max(d2))
print(min(d2))
print(sorted(d2))
print(list(reversed(d2)))
print(sum(d2))

3
Suresh
Ramesh
['Ramesh', 'Sathish', 'Suresh']
['Sathish', 'Suresh', 'Ramesh']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
d4={'Ramesh':'20','Suresh':30,40:'Sathish'}
print(len(d2))
print(max(d2))
print(min(d2))
print(sorted(d2))
print(list(reversed(d2)))
print(sum(d2))

3
Suresh
Ramesh
['Ramesh', 'Sathish', 'Suresh']
['Sathish', 'Suresh', 'Ramesh']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
str1='Suresh'
summ=0
for i in str1:
    summ=summ+ord(i)
print(summ)

634

In [33]:
str1='Ramesh'
summ=0
for i in str1:
    summ=summ+ord(i)
print(summ)

608

In [35]:
str2='Sathish'
summ=0
for i in str1:
    summ=summ+ord(i)
print(summ)

724

In [36]:
for i in str2:
    print(i,ord(i))

S 83
a 97
t 116
h 104
i 105
s 115
h 104

724

In [ ]:
- Max/Min/sorted

**index**

In [39]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
dict1['Ramesh']

20

In [45]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
for i in dict1:
    print(i,dict1[i])
    print(f'{i} has age : {dict1[i]}')

Ramesh 20
Ramesh has age : 20
Suresh 30
Suresh has age : 30
Sathish 40
Sathish has age : 40

- whenever we iterate dict for loop using in operator  it will gives only keys

- if we want to get value we will access through keys only

- key will work as index

In [46]:
d1={'Fruites':['Apple','Banana','Cherry']}
d1['Fruites'][2]

'Cherry'

In [50]:
d1={'Fruites':{'Apple':['Sweet','Green','custred']}}
d1['Fruites']['Apple'][1]

'Green'

In [54]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1['Fruites'][0]['Cost'][2]

300

In [55]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],
                               '2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [69]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji'][0]

TypeError: 'set' object is not subscriptable

In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1['Sathish']=40
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [4]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict2={}
for i,j in zip(names,age):
    dict2[i]=j

print(dict2)

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [9]:
l1=[]
l2=[]
for i,j in dict2.items():
    l1.append(i)
    l2.append(j)

print(l1)
print(l2)

['Ramesh', 'Suresh', 'Sathish']
[20, 30, 40]

In [14]:
l1=[]
l2=[]
for i in dict2:
    l1.append(i)
    l2.append(dict2[i])
print(l1,l2)

['Ramesh', 'Suresh', 'Sathish'] [20, 30, 40]

In [ ]:
# strings to list (split)
# list to strings (join)
# list to dictionary
#dict to list

In [15]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict2={}
for i,j in zip(names,age):
    dict2[i]=j
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

- dict is similar to database operations

- keys always unique but values can be change.

In [16]:
d1={'Ramesh':20}
d2={'Fruits':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [ ]:
- dict_keys is a type of keys represented in a list

- it is looks like list but not list

- we can not use list methods here

- for that we need to convert dict_keys to list

In [18]:
d1={'Ramesh':20,"Suresh":30,'Sathish':40}
values=d1.values()
list(values)

[20, 30, 40]

In [20]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
l1=dict1.items()
list(l1)

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [24]:
dict1={'Ramesh':20,"Suresh":30,'Sathish':40}
keys,values=[],[]
for i in dict1:
    keys.append(i)
    values.append(dict1[i])

keys,values

(['Ramesh', 'Suresh', 'Sathish'], [20, 30, 40])

In [27]:
keys=[keys for keys in dict1]
print(keys)

['Ramesh', 'Suresh', 'Sathish']

In [38]:
d1={'Ramesh':20,"Suresh":30,'Sathish':40}
keys=[i.lower() for i in list(d1.keys())]
values=[str(i) for i in list(d1.values())]
{keys:values for keys,values in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'sathish': '40'}

In [41]:
d={}
d.update([(200,'Marks')])
print(d)

{200: 'Marks'}

In [ ]:
- concatenate

In [43]:
d={'Ramesh':20,"Suresh":30,'Sathish':40}
d1={'Fruites':'Apple'}
d.update(d1)
d.update(Apple=200)
d.update([(200,'Apple')])
print(d)

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Fruites': 'Apple', 'Apple': 200, 200: 'Apple'}

- pop will excpect a key , corresponding value will be removed 

    - pop will return the **value which is removing**

- popitem has no argument, last key-value pair will be removed

    - pop item return last **key-value pair**

**del**

In [44]:
l=[100,200,333,444]
del l[0]

In [45]:
print(l)

[200, 333, 444]

In [46]:
d={'Ramesh':20,"Suresh":30,'Sathish':40}
del d['Ramesh']

In [47]:
d

{'Suresh': 30, 'Sathish': 40}

In [48]:
del d

In [49]:
d

NameError: name 'd' is not defined

In [50]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']